# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/.pytest_cache/
backend/generated_files/
backend/demo_cache/

# Python
__pycache__/
*.pyc

# Environment variables
.env
*.env

# Logs
*.log